div
{
    height: 100px;
    width:100%;
    background-color: darkslategrey;
    border-radius: 12px;
}
.jawad
{
    color: #1c4e63;
    font-size: 30px;
    font-family: "Bitstream Vera Sans Mono";
}/*Hello world*/