p
{
    font:italic small-caps lighter 20px sans-serif;
;
}
/*font-style:none-normal-italic-oblique;
font-variant:none-normal-small_caps;
font-weight:none-normal-bold-lighter-bolder;
font-size:small-medium-large-value(px,em,%);
lie-height:value;
font-family:sans-serif-serif-courier-courier_new-cursive-fantasy;*/