p
{
    font-family: "Bitstream Vera Sans Mono","Lucida Sans",sans-serif;
   font-size: 30px;
    font-weight:normal;
    font-variant: small-caps;
}
p::first-letter
{
    color: red;
}
p::first-line
{
    color: blue;
}